<nav class="navbar navbar-expand-lg navbar-light mb-3" style="background-color: rgb(105, 157, 253);">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Andrew Bunning</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<div class="navbar-nav">
				<a class="nav-link {% if page.url == "/" %}active{% endif %}" aria-current="page" href="/">Home</a>
				<a class="nav-link {% if page.url == "/about.html" %}active{% endif %}" aria-current="page" href="about">About</a>
				<a class="nav-link {% if page.url == "/experience.html" %}active{% endif %}" aria-current="page" href="experience">Experience</a>
				<a class="nav-link {% if page.url == "/blog.html" %}active{% endif %}" aria-current="page" href="blog">Blog</a>
			</div>

		</div>
	</div>
</nav>
