---
layout: default
title: Blog
# Blog
---

{% if site.posts.size < 1 %}
  <h1>Blog</h1>

  <p>I'm still working on creating a blog, please come back later or follow me in LinkedIn.</p>
{% endif %}

{% if site.posts.size > 0 %}
  <h1>Blog</h1>

  <p>Here are some of my latest blog posts:</p>

{% endif %}


<!-- This loops through the paginated posts -->
{% capture now %}{{'now' | date: '%s' | plus: 0 %}}{% endcapture %}
{% for post in paginator.posts %}
  {% capture date %}{{post.date | date: '%s' | plus: 0 %}}{% endcapture %}
  {% if date > now %}
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <p class="author">
      <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
    </p>
    <div class="content">
      {{ post.excerpt }}
    </div>
  {% endif %}
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ site.paginate_path | relative_url | replace: 'page:num/', '' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}